{{ form_start(form) }}
{% if to == 'unknown' %}
    {{ form_label(form.userTo, 'Envoyer un message à' )}}
    {{ form_widget(form.userTo) }}
{% endif %}


    {{ form_row(form.title) }}

    {{ form_row(form.content) }}

    <button class="btn btn-success">
        <i class="fa fa-envelope-o"></i>
        {{ button_label|default('Envoyer un message') }}
    </button>
{{ form_end(form) }}
