{{ form_start(form) }}

<div class="form">
    <h2>
    <span class="badge badge-primary badge-found" style="background-color:{{ status.color }};">
        <i class="fa fa-map-pin"></i>
        {{ status.label }}
    </span>
        {% if status.label == constant('App\\Entity\\Status::LOST') %}
            J'ai perdu un objet
        {% elseif  status.label == constant('App\\Entity\\Status::FOUND') %}
            J'ai trouvé un objet
        {% endif %}
    </h2>
{{ form_row(form.name)}}

{{ form_row(form.description) }}

{{ form_row(form.photo) }}

{{ form_label(form.name, 'Catégorie' )}}
{{ form_widget(form.category) }}

{{ form_row(form.dateBegin) }}

{{ form_label(form.county, 'Département' )}}
{{ form_widget(form.county) }}

{{ form_row(form.city) }}

{{ form_row(form.address) }}

    <input type="hidden" name="status_id" value="{{ status.id }}">

</div>
    <button class="btn btn-success">
        <i class="fa fa-check"></i>
        {{ button_label|default('Déposer mon annonce') }}
    </button>
{{ form_end(form) }}
