{% extends "base.html.twig" %}
{% block body %}


<div class="container">
    <h1>Rechercher un objet</h1>
    {{ form_start(form) }}
    {{ form_row(form.category, {'required': 'true', 'value' : '4', 'label' : 'Catégorie'}) }}
    {{ form_row(form.county, {'required': 'true', 'value' : '5', 'label' : 'Département'}) }}
    {{ form_row(form.dateBegin, {'label' : 'Date'}) }}
    <button type="submit" class="btn btn-success">
        <i class="fa fa-search"></i>
        {{ button_label|default('Rechercher') }}
    </button>
    {{ form_end(form) }}

</div>
{% endblock %}